body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer {
    width: 512px;
    height: 512px;
    display: flex;
    flex-direction: column;
}

.gridContainer div div {
    flex: 1 1 0;
    border: 1px solid;
}